:root {
  --primary-color: #3c8067;
  --bg-color: #f2ebe3;
  --title-color: #1c232b;
  --paragraph-color: #6b718a;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

main {
  background: var(--bg-color);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--white-color);
  border-radius: 10px;
}

.card img {
  border-radius: 10px 0 0 10px;
}

.product-info {
  padding: 30px;
}

.product-info span {
  text-transform: uppercase;
  color: var(--paragraph-color);
  letter-spacing: 0.3125rem; /* 5px */
  font-size: 0.75rem;
}

.product-info h2 {
  font-family: "Fraunces", serif;
  font-size: 32px;
  color: var(--title-color);
  line-height: 1;
  margin: 20px 0;
}

.product-info p {
  color: var(--paragraph-color);
  font-size: 0.875rem;
  line-height: 1.4;
  margin-bottom: 20px;
}

.price p {
  display: flex;
  align-items: center;
  gap: 20px;

  font-family: "Fraunces", serif;
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.price span {
  text-decoration: line-through;
  font-weight: initial;
  letter-spacing: initial;
  font-size: 0.875rem;
}

.card button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: var(--primary-color);
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 50px;
}

.card button img {
  height: 18px;
}

.card button p {
  color: var(--white-color);
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
  line-height: 1; 
}